body{
  text-align:center;
  background:linear-gradient( #E1BEE7 0%,#90CAF9 100%);
 background-repeat:no-repeat;
  
}
p{
  font-size:18px;
  color:red;
  
}
h2{
  font-size:20px;
  
}
.line{
  height: 6px; background-color: black; width:70px; margin:8px auto;
}
.menu{
    right: 30px;
    
    cursor: pointer;
    position: absolute;
    list-style: none;
}